<?xml version="1.0"?>
<!--
  To get your application working with Mixpanel
  you will need to make some changes to your application manifest file.

  You can use this file as a model for the sorts of changes required. Be aware that
  you will need to replace "com.mixpanel.example.hello" with your application package
  name in several places before your application will work.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mixpanel.example.hello"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <!--
      This permission is required to allow the application to send events and properties to Mixpanel.
     -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
      This permission is optional but recommended so we can be smart about when to send data.
     -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
      This permission is optional but recommended so events will contain information about bluetooth state
    -->
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- This will enable various debugging messages that shows communication between the Mixpanel
             Android library and the Mixpanel API servers, which are useful for seeing when track requests
             go out. -->
        <meta-data android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
</manifest>
