<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mixpanel.android">

    <!--
      This permission is required to allow the application to send events and properties to Mixpanel.
     -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
      This permission is optional but recommended so we can be smart about when to send data.
     -->
    <!--
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->

    <!--
      This permission is optional but recommended so events will contain information about bluetooth state
    -->
    <!--
    <uses-permission android:name="android.permission.BLUETOOTH" />
    -->

    <application>

        <!-- Set the following option to true if you wish to see the debug output from the Mixpanel Android
             library. This may be useful in determining when track calls go out or in-app notifications
             are fetched. The default value is false. -->
        <!--
        <meta-data android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="true" />
        -->

        <!-- This activity will allow your application to make tracking calls to the MixpanelAPI for notification interactions-->
        <uses-library android:name="android.test.runner"
            android:required="false" />
    </application>
</manifest>