name: Mixpanel Android Pull Request and master branch CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Checkout the code
      uses: actions/checkout@v4.1.7
    - name: Run Unit test
      uses: reactivecircus/android-emulator-runner@v2.32.0
      with:
        api-level: 34
        arch: arm64-v8a
        script: ./gradlew createDebugCoverageReport
    - name: Lint
      run:  ./gradlew lint
    - name: Upload test report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: Unit Test Report
        path: build/reports/androidTests/connected
    - name: Upload test coverage report
      uses: actions/upload-artifact@v4
      with:
        name: Test Coverage Report
        path: build/reports/coverage/debug/
    - name: Upload lint report
      uses: actions/upload-artifact@v4
      with:
        name: Lint Report
        path: build/reports/lint-results.html
    - name: Android docs
      run:  ./gradlew --info androidJavadocs

